# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# Android App Configuration
BACKEND_URL="https://vibez-n5h1.onrender.com/"
GOOGLE_WEB_CLIENT_ID="31813758410-qtfe29f8ufi980db5a8qpeehl5cvntls.apps.googleusercontent.com"
